

/*////////////////////////////  Botão Menu ///////////////////////////////*/

.menu {
  width: 88px;
  height: 520px;
  -webkit-filter: url("#goo");
  filter: url("../index.html#goo");
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 99;
  /*background-color: #ccc;*/
}



.menu-button,
.menu-toggle-button {
  position: absolute;
  /*display: inline-block;*/
  left: 5px;
  top: 0;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;

  background: #ccc;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
}

.menu-button:hover,
.menu-toggle-button:hover {
  color: #fff;
}

.menu-button {
  font-size: 40px;
  background: #df8d2f;
  -webkit-transform: scale(0.95, 0.95);
  transform: scale(0.95, 0.95);
  color: #222;
}

a.menu-button {
  color: #FFF;
}

a.menu-button:hover, 
a.menu-button:focus {
  color: #f4f4f4;
}

.menu-toggle-button {
  z-index: 9;
  background: #df8d2f;
  font-size: 34px;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: inline-block;
}




/*///////////////////////////  Botão Compartilhar ///////////////////////////*/

.share {
  width: 180px;
  height: 180px;
  position: fixed;
  -webkit-filter: url("#share");
  filter: url("../index.html#share");
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  right:0;
  top:0;
  z-index: 99;
}

.share-wrapper {
  position: absolute;
  right: 50px;
  top: 50px;
  z-index: 9999;
}

.share-toggle-button,
.share-item-bounce,
.share-item-button {
  background: #df8d2f;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  height: 80px;
  color: #fff;
  border: none;
  outline: none;
  position: relative;
  cursor:pointer;
}

.share-toggle-button {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #df8d2f;
}

.share-toggle-icon {
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}

.share-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.share-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.share-item-bounce {
  position: absolute;
  top: 0;
  left: 0;
}

.share-item-button {
  width: 50px;
  height: 50px;
  margin-left: -30px;
  margin-top: -30px;
  position: absolute;
  top: 0;
  left: 0;
  color: #FFF;
  font-size: 20px;
}

.share-item-icon{
  text-align: center;
}

.share-item-button:hover {
  color: #f4f4f4;
}